


    /* Sección de Tarjetas */
.tarjetas-seccion {
    text-align: center;
    padding: 40px 20px;
    background-color: #f7fbfc;
    margin-top: 4.5rem;
}

.tarjetas-seccion h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #004d66;
}

/* Contenedor de las Tarjetas */
.tarjetas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Estilo de las Tarjetas */
.tarjeta {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la Imagen de la Tarjeta */
.tarjeta-img {
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 400px; /* Ajusta la altura deseada */
    object-fit: cover; /* Recorta la imagen para ajustarse al contenedor */
    border-radius: 10px; /* Opcional: redondea los bordes de las imágenes */
}


/* Información de la Tarjeta */
.tarjeta-info {
    padding: 20px;
}

.tarjeta-info h3 {
    font-size: 1.5rem;
    color: #004d66;
    margin-bottom: 10px;
}

.tarjeta-info p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}
